{% set header_url = page.media.images|first.url ?: url('theme://dist/images/background.jpg') %}
<header class="row header">
  <div class="header--image" style="background-image:url({{ header_url }});background-color:#000;">
    <div class="row">
      <div class="column small-12">
        
      </div>
    </div>
  </div>
</header>
